/* 
body {
    padding-top: 56px;
}

.table {
    margin-top: 20px;
} */

body {
    padding-top: 56px;
    background-image: url('/static/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:white; /* Adjust text color for readability against the background */
}
